/* ----------------------NAVBAR------------------------- */

body{
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(180deg, #31B7FF 0%, #F77070 32.91%, #FFCC36 49.32%, #F77070 67.29%, #36B0F9 100%);
    height: auto;
    top: 0;
    background-size: cover;
    background-position: center;
    border-radius: 0px!important;
}

.kosong{
    background-color: #31B7FF;
}

/* ------------------JUMBOTRON PART--------------------- */

#home {
    
}

.navbar a{
    color: #000;
    font-size: larger;
}
#navhome a{ 
    color: black;
}
.navbar a:hover {
    color: #FFCC36;
}
header h1 {
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 96px;
    line-height: 96px;
    
}
header h3 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    font-size: 35px;
    line-height: 42px;
    color: #fff;
}

header h3 span{
    color: rgb(37, 42, 42);
}
header h3 a {
    color: rgb(37, 42, 42);
}

/* -------------------Social menu-------------------- */
/* -------------------------------------------------- */
.social-list {
    display: inline-flex
}

.social-list li {
    list-style: none;
    margin-right: 10px
}

.maincard {
    position: relative;
    width: 120px;
    height: 80px
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease
}

.thecard:hover {
    transform: rotateY(180deg)
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hidden;
    color: #fff;
    border-radius: 180px;
    cursor: pointer;
    border: 0px solid black;
    padding: 4px
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: hidden;
    border-radius: 180px;
    transform: rotateY(180deg);
    padding: 4px
}

.social-text small {
    font-size: 20px
}


/* -------------------------------------------- */
/* -------------------------------------------- */

#about {
    position: relative;
    height: auto;

}

#foto {
    height: 520px;
    width: 450px;
    margin-top: 150px;
    padding-right: 100px;
}

#about h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    
}

#about h3 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* -------------------------------------------- */
/* -------------------------------------------- */

#education {
    position: relative;

    height: auto;
}

#educationss {
    padding-top: 100px;
    margin: 0 auto;
}
#educationss .card{
    transition: 0.1s;
}
#educationss .card:hover{
    transform: translate(0, -40px);
}

#educationss h1 {
    transition: 00.5s;
}
#educationss h1:hover {
    transform: translate(0, -40px);
    color: white;
}

/* -------------------------------------------- */
/* -------------------------------------------- */
#skills .card{
    transition: 0.1s;
}
#skills .card:hover{
    transform: translate(0, -40px);
}

#skill h1{
    transition: 00.5s;
}
#skill h1:hover {
    transform: translate(0, -40px);
    color: white;
}

/* -------------------------------------------- */
/* -------------------------------------------- */



@media (max-width:700px) {
    .social-list {
        display: block
    }
}

.facebook {
    background: #3b5998
}

.instagram {
    background: #3f729b
}

.youtube {
    background: #ff0000
}

.whatsapp {
    background: #4dc247
}

.pinterest {
    background: #cb2027
}
/* -------------------------------------------- */
/* -------------------------------------------- */

@media only screen and (max-width: 375px) {
    body{
        width: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
    }
    
    #home h1{
        font-size: 48px;
        margin: 30px;
        position: relative;
    }
    #home h2{
        font-size: 16px;
    }
    #home {
        position: relative;
        height: auto;
        top: 0;
        background-size: auto;
        background-position: center;
        border-radius: 0px!important;
    }

    #foto {
        height: 100%;
        width: 100%;
    }
    
}