<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 3 Hamza</title>
  
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'css/tes.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body id="tes">
    <nav id="navhome" class="navbar navbar-expand-lg">                    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage:kosong' %}">Features</a>
            </li>
        </ul>
        </div>
    </nav>
    <section id="home" style="padding-bottom: 170px;">
    <div class="container-fluid">
        <div class="row">
            <header >
                <div class="text-center">
                    <div class="intro">
                        <h1>I'm Hamzah Arrayhan.</h1>
                        <h3>I'm an Indonesia based <span>Information System Student</span>, Coffee Enthusiast and Part time traveller.  
                        <span>Learning and developing</span> skill everyday to gain more and more <span>knowledge</span>. 
                        Just begin to scroll and learn more <a href="#about">about me</a>.</h3>
                    </div>
                    <div class="container mt-5 mb-5 d-flex justify-content-center">
                    <div>
                        <ul class="social-list">
                            <li>
                                <div class="maincard p-3">
                                    <div class="thecard">
                                        <div class="thefront text-center py-4 facebook">
                                            <div class="social-icon"> <i class="fa fa-facebook fa-2x"></i> </div>
                                        </div>
                                        <div class="theback py-3 px-3 text-center facebook">
                                            <div class="social-text mt-1"> <small class="font-weight-bold">Facebook</small> </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="maincard p-3">
                                    <div class="thecard">
                                        <div class="thefront text-center py-4 instagram">
                                            <div class="social-icon"> <i class="fa fa-instagram fa-2x"></i> </div>
                                        </div>
                                        <div class="theback py-3 px-3 text-center instagram">
                                            <div class="social-text mt-1"> <small class="font-weight-bold">Instagram</small> </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="maincard p-3">
                                    <div class="thecard">
                                        <div class="thefront text-center py-4 youtube">
                                            <div class="social-icon"> <i class="fa fa-youtube fa-2x"></i> </div>
                                        </div>
                                        <div class="theback py-3 px-3 text-center youtube">
                                            <div class="social-text mt-1"> <small class="font-weight-bold">Youtube</small> </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="maincard p-3">
                                    <div class="thecard">
                                        <div class="thefront text-center py-4 whatsapp">
                                            <div class="social-icon"> <i class="fa fa-whatsapp fa-2x"></i> </div>
                                        </div>
                                        <div class="theback py-3 px-3 text-center whatsapp">
                                            <div class="social-text mt-1"> <small class="font-weight-bold">Whatsapp</small> </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="maincard p-3">
                                    <div class="thecard">
                                        <div class="thefront text-center py-4 pinterest">
                                            <div class="social-icon"> <i class="fa fa-pinterest fa-2x"></i> </div>
                                        </div>
                                        <div class="theback py-3 px-3 text-center pinterest">
                                            <div class="social-text mt-1"> <small class="font-weight-bold">Pinterest</small> </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
        </div>
    </div>
    </section>
    
<!-- ----------------------------ABOUT SECTION---------------------------- -->
    <section id="about">
        <nav class="navbar navbar-expand-lg fixed-top topbar-transparent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:kosong' %}">Features</a>
                </li>
            </ul>
            </div>
        </nav>
            <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                  <div class="about-img" data-aos="fade-right" data-aos-delay="100">
                    <img id="foto" src="{% static 'images/me.png' %}" alt="hamza">
                  </div>
                </div>

                <div class="col-lg-7 col-md-6">
                  <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                    <h2 style="padding-top: 100px;"></i>About Me</h2>
                    <h3>Mahasiswa semester 3 Sistem Informasi, Universitas Indonesia</h3>
                    <p>Memiliki ketertarikan dalam bidang web development, data science, artificial intelligence, dan business analyst.</p>
                    <p>Diluar kegiatan akademis, saya menyukai kegiatan-kegiatan di alam bebas, seperti rock climbing, trekking, susur gua, maupun camping. Selain itu saya juga memiliki kegemaran dalam bidang fotografi, videografi, photo editing, dan ilustrasi vektor. Saya selalu mencoba agar semua yang saya lakukan bermanfaat dan tidak hanya untuk kesenangan pribadi, namun juga bermanfaat bagi kesehatan, karir, dan menambah pengalaman.</p>
                    <h2 style="padding-top: 50px;">Contact</h2>
                    <ul>
                        <li> Hamzah Daffa Arrayhan</li>
                        <li> Kota Bogor</li>
                        <li> Jawa Barat, Indonesia</li>
                        <li> NPM: 1906307302</li>
                        <li> hamzaharrayhan@gmail.com</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
    </section>

    <section id="education">
        <div class="container-fluid">
            <div class="row">
                <div id="educationss">
                    <div class="text-center">
                        <div class="intro">
                            <h1 style="font-family: 'Poppins', sans-serif; font-weight: 800;">Education</h1>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/smp2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color:#FFCB31;">
                            <p class="card-text"><center><span style="color: #fff; font-family: 'Poppins', sans-serif; font-weight: 800; font-size:x-large">SMPN 2 Bogor</span></center><br>
                                <center><span style="font-family: 'Poppins', sans-serif; font-weight: 800; color: #fff">2013 - 2016<br>Public Class</span></center></p>
                        </div>
                    </div>
                    <br><br>
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/sma.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color:#FFCB31;">
                            <p class="card-text"><center><span style="color: #fff; font-family: 'Poppins', sans-serif; font-weight: 800; font-size: x-large">SMAN 3 Bogor</span></center><br>
                                <center><span style="font-family: 'Poppins', sans-serif; font-weight: 800; color: #fff">2016 - 2019<br>Science Class</span></center></p>
                        </div>
                    </div>
                    <br><br>
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'images/ui.png' %}" class="card-img-top" alt="...">
                        <div class="card-body" style="background-color:#FFCB31;">
                            <p class="card-text"><center><span style="color: #fff; font-family: 'Poppins', sans-serif; font-weight: 800; font-size: x-large">Universitas Indonesia</span></center><br>
                                <center><span style="font-family: 'Poppins', sans-serif; font-weight: 800; color: #fff">2019 - Sekarang<br>Information System</span></center></p>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
    </section>

    <section id="skills">
        <div class="text-center" id="skill">
            <div class="intro">
                <h1 style="font-family: 'Poppins', sans-serif; font-weight: 800; padding-top: 100px">Skills and Experience</h1>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3" style="margin-left: 50px; margin-right: 50px; padding-top: 100px">
            <div class="col mb-4">
              <div class="card h-100" id="pops" data-toggle="popover" data-placement="top" title="Python" data-content="Mempelajari python sebagai bahasa pemrograman pertama dan untuk membuat website.">
                <img src="{% static 'images/Python-Logo.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color :#31B7FF">
                  <h5 class="card-title">Python</h5>
                  <p class="card-text">Bahasa pemrograman.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4" id="popsa" data-toggle="popover" data-placement="top" title="Java" data-content="Mempelajari Java pada materi perkuliahan di semester 2, mendapat nilai yg cukup tinggi.">
              <div class="card h-100">
                <img src="{% static 'images/java.png' %}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color :#31B7FF">
                  <h5 class="card-title">Java</h5>
                  <p class="card-text">Bahasa pemrograman</p>
                </div>
              </div>
            </div>
            <div class="col mb-4" id="popsb" data-toggle="popover" data-placement="top" title="Javascript" data-content="Mempelajari basic Javascript untuk membuat website menjadi dinamis pada online course.">
              <div class="card h-100">
                <img src="{% static 'images/javascript.png' %}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color :#31B7FF">
                  <h5 class="card-title">Javascript</h5>
                  <p class="card-text">Bahasa pemrograman.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4" id="popsc" data-toggle="popover" data-placement="top" title="Teamwork" data-content="Kemampuan bekerjasama saya dapatkan melalui kegiatan-kegiatan alam, pengalaman kepanitiaan, dan menjadi Person In Charge di beberapa kepanitiaan.">
              <div class="card h-100">
                <img src="{% static 'images/teamwork.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body" style="background-color :#31B7FF">
                  <h5 class="card-title">Teamwork</h5>
                  <p class="card-text">Kemampuan sosial.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4" id="popsd" data-toggle="popover" data-placement="top" title="Siwak" data-content="Menjadi person in charge divisi konsumsi.">
                <div class="card h-100">
                  <img src="{% static 'images/siwak.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body" style="background-color :#31B7FF">
                    <h5 class="card-title">Siwak</h5>
                    <p class="card-text">Kepanitiaan fakultas.</p>
                  </div>
                </div>
            </div>
            <div class="col mb-4" id="popse" data-toggle="popover" data-placement="top" title="DPM Fasilkom UI" data-content="Menjadi bagian dari staff media dan publikasi DPM Fasilkom UI.">
                <div class="card h-100">
                  <img src="{% static 'images/DPM logo.jpg' %}" class="card-img-top" alt="...">
                  <div class="card-body" style="background-color :#31B7FF">
                    <h5 class="card-title">DPM Fasilkom UI</h5>
                    <p class="card-text">Organisasi tingkat fakultas.</p>
                  </div>
                </div>
            </div>
          </div>
    </section>

    <section id="contact">
        <div class="text-center" id="skill">
            <div class="intro">
                <h1 style="font-family: 'Poppins', sans-serif; font-weight: 800; padding-top: 100px">Find Me On</h1>
            </div>
        </div>
        <div class="container mt-5 mb-5 d-flex justify-content-center">
            <ul class="social-list">
                <li>
                    <div class="maincard p-3">
                        <div class="thecard">
                            <div class="thefront text-center py-4 facebook">
                                <div class="social-icon"> <i class="fa fa-facebook fa-2x"></i> </div>
                            </div>
                            <div class="theback py-3 px-3 text-center facebook">
                                <div class="social-text mt-1"> <small class="font-weight-bold">Facebook</small> </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="maincard p-3">
                        <div class="thecard">
                            <div class="thefront text-center py-4 instagram">
                                <div class="social-icon"> <i class="fa fa-instagram fa-2x"></i> </div>
                            </div>
                            <div class="theback py-3 px-3 text-center instagram">
                                <div class="social-text mt-1"> <small class="font-weight-bold">Instagram</small> </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="maincard p-3">
                        <div class="thecard">
                            <div class="thefront text-center py-4 youtube">
                                <div class="social-icon"> <i class="fa fa-youtube fa-2x"></i> </div>
                            </div>
                            <div class="theback py-3 px-3 text-center youtube">
                                <div class="social-text mt-1"> <small class="font-weight-bold">Youtube</small> </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="maincard p-3">
                        <div class="thecard">
                            <div class="thefront text-center py-4 whatsapp">
                                <div class="social-icon"> <i class="fa fa-whatsapp fa-2x"></i> </div>
                            </div>
                            <div class="theback py-3 px-3 text-center whatsapp">
                                <div class="social-text mt-1"> <small class="font-weight-bold">Whatsapp</small> </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="maincard p-3">
                        <div class="thecard">
                            <div class="thefront text-center py-4 pinterest">
                                <div class="social-icon"> <i class="fa fa-pinterest fa-2x"></i> </div>
                            </div>
                            <div class="theback py-3 px-3 text-center pinterest">
                                <div class="social-text mt-1"> <small class="font-weight-bold">Pinterest</small> </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>


    <script>
    $(function () {
        $('#pops').popover()
      })
    </script>
    <script>
        $(function () {
            $('#popsa').popover()
          })
    </script>
    <script>
        $(function () {
            $('#popsb').popover()
          })
    </script>
    <script>
        $(function () {
            $('#popsc').popover()
          })
    </script>
    <script>
        $(function () {
            $('#popsd').popover()
          })
    </script>
    <script>
        $(function () {
            $('#popse').popover()
          })
    </script>
</body>
</html>